@page "/admin"
@inject AuthenticationStateProvider Auth
@attribute [Authorize(Roles = "MasterAdmin")]

<h3>Master Admin Dashboard</h3>

<p>Welcome, Admin 👋</p>

<ul>
    <li>
        <a href="/admin/hospitals">View All Hospitals</a>
    </li>
    <li>
        <a href="/admin/hospital-reps">View All Hospital Representatives</a>
    </li>
</ul>
@code {
    protected override async Task OnInitializedAsync()
    {
        var state = await Auth.GetAuthenticationStateAsync();
        Console.WriteLine(state.User.Identity?.IsAuthenticated);
        Console.WriteLine(string.Join(",", state.User.Claims.Select(c => $"{c.Type}:{c.Value}")));
    }
}